<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Some Thing went wrong on our side.</h1>
    <p>Please try again</p>

<%- include('includes/end.ejs') %>